.about {
  padding-top: 120px;
  &__wrapper {
    display: grid;
    grid-template: minmax(245px, auto) minmax(255px, auto) / 400px 570px;
    gap: 40px 70px;
    grid-template-areas:
      "photo ."
      "photo .";
    .divider-block {
      margin-top: 0;
    }
  }
  &__photo {
    grid-area: photo;
    img {
      width: 100%;
    }
  }
  &__title {
    margin-top: 6px;
    position: relative;
    padding-left: 12px;
    @include before__circle;
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
  }
  &__skills {
    display: grid;
    grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr);
    gap: 20px 50px;
    justify-items: end;
  }
  &__item {
    position: relative;
    width: 200px;
    p {
      margin-top: 6px;
      font-size: 12px;
    }
  }
  &__icon {
    position: absolute;
    top: 15px;
    left: -45px;
    @include before__circle;
    &:before {
      top: -15px;
      left: -15px;
    }
  }
}
